!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Teachture
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if notice.present?
      %p.notice 
        = notice    
    - if alert.present?
      %p.alert 
        = alert

    %header
      %nav
        %ul
          %li
            = link_to "Start", root_path
          - if user_signed_in?
            %li
              = link_to "Edit Profile", edit_user_registration_path(current_user)
            %li
              = link_to "Close Session", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "Sing In", new_user_session_path
            %li
              = link_to "Sing Up", new_user_registration_path


    = yield
